@* neworder Template File *@
@(productquanties: List[models.ProductQuantity])

@index("Welcome to Play.") {
<form action="/orders/create" method="post" role="form">
 
	<p>List of products (@productquanties.size).</p>

	
	<div class="form-group">
	<ul>
		<table>
			<tr>
				<td><u>Description</u></td>
				<td> &nbsp;&nbsp; </td>
				<td ALIGN=right><u>Quantity</u></td>								
			</tr>
			@for(productQuantity <- productquanties){
				<tr>
						<td>@productQuantity.getProduct().getName()</td>
						<td>&nbsp;&nbsp; </td>
						<td ALIGN=right>@productQuantity.getQty()</td>						
				</tr>					
			}
		</table>
	</ul>
	</div>
	</br>
<a href="/cart" class = "btn btn-default" id="knap">Back</a>
<button type="submit" class="btn btn-default" id="knap">Create Order</button>
</form>
	
}




