@* showcategory Template File *@
@(category: models.Category)
@index("Welcome to Play.") {
<p>Details for Category</p>

<ul>
<li>Category Name: @category.getName()</li>
			<p> Products: 		 </br>							
				<ul>
					<table>
						<tr>
							<td><u>Description</u></td>
							<td> &nbsp;&nbsp; </td>
							<td><u>Price</u></td>							
						</tr>
						@for(product <- category.getProductsCategory()){
							<tr>
								<td><a href="/showProduct/@product.getId()">@product.getName()</td>
								<td>&nbsp;&nbsp; </td>
								<td>@product.getPrice()</td>							
							</tr>

					    }

					</table>
				</ul>							
			</p>
</ul>
<a href="/categories" class = "btn btn-default" id="knap">Back</a> <br/>
}

